body{
  margin:0;
  background:#e6dfcf;
  font-family: "Garamond", serif;
  overflow:hidden;
}

#mazeWrapper{
  width:100vw;
  height:100vh;
  display:flex;
  align-items:center;
  justify-content:center;
}

#maze{
  width:95vw;
  height:95vh;
}

.mazeText{
  fill:#7a1c1c;
  font-size:14px;
  letter-spacing:.35px;
  opacity:.25;
  transition:opacity .4s ease, fill .3s ease, transform .4s ease;
}

.mazeText.active{
  opacity:1;
  fill:#000;
  font-weight:bold;
}

.mazeText.visited{
  opacity:.55;
}

.hidden{
  opacity:0;
  pointer-events:none;
}
