body{
  margin:0;
  background:#e8e1cf;
  font-family: "Garamond", serif;
  overflow:hidden;
}

#mazeWrapper{
  width:100vw;
  height:100vh;
  overflow:auto;
  cursor:grab;
}

#maze{
  width:2200px;
  height:1500px;
}

.mazeText{
  fill:#7a1c1c;
  font-size:15px;
  letter-spacing:.4px;
  opacity:.2;
  transition:opacity .5s ease, fill .3s ease;
}

.mazeText.active{
  opacity:1;
  fill:#000;
  font-weight:bold;
}

.mazeText.visited{
  opacity:.55;
}

.hidden{
  opacity:0;
  pointer-events:none;
}
