body{
  margin:0;
  background:#e6e6e6;
  display:flex;
  align-items:center;
  justify-content:center;
  height:100vh;
  font-family:Georgia, serif;
}

.wrapper{
  width:90vmin;
  height:90vmin;
}

.ruins-svg{
  width:100%;
  height:100%;
}

/* TEXT STYLE */
.ringText{
  fill:#111;
  font-size:22px;
  letter-spacing:2px;
}

/* INNER EMPHASIS */
.inner{
  fill:#8f2f2f;
  font-size:20px;
}

