body {
    margin: 0;
}

.hero {
    height: 100vh;
    width: 100%;
    background-image: url("sun.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
}

.title {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    color: white;
    background: rgba(0,0,0,0.3);
}
